[submodule "externalLib/mathfu"]
	path = externalLib/mathfu
	url = https://github.com/google/mathfu.git
[submodule "externalLib/anax"]
	path = externalLib/anax
	url = https://github.com/miguelmartin75/anax.git
